*{box-sizing: border-box;}

button,a{margin: 5px;cursor: pointer;}

button{padding: 10px;border: none;background: #fff;outline: none;}

li{padding: 10px;border: 1px solid #ccc;margin-bottom: 10px;cursor: pointer;list-style: none;}

input{margin-top: 10px;}
.input{max-width: 200px;}
.gf-block li{max-width: 300px;}

input:focus{outline: 2px solid #ff3636;}

.toggler{width: 100%;margin-bottom: 10px;display: block;background: #25bc25;color: #fff;font: 400 18px sans-serif;letter-spacing: .5px;}
.toggler.selected{background: #d60000;}

.toggler::after{content: " + ";margin-left: 5px;font-size: 20px;font-weight: 600; }
.toggler::before{content: 'Add ';}

.toggler.selected::after{content: " - ";}
.toggler.selected::before{content: 'Remove '}

.counter-block{margin: 20px;}

.banner {padding: 20px 0;background: #444;color: #fff;text-align: center;}

.divider-block{height: calc(100% - 143px);display: flex;}
.static-content{flex: 1;}
.dynamic-add{flex: 2;background: #fff;}
.dynamic-add{height: 100vh;border-left: 1px solid #ccc; overflow: auto; position: relative;transition: width .3s ease-in;}
.dynamic-add.full-active{width: 100%;border: 0;margin: 0;position: absolute;top: 0;left: 0;}

.people{padding: 10px;background: #fff;}

.input-block{margin: 20px;border: 1px solid #ccc;padding: 5px;}
.input-block .input{margin-bottom: 20px;padding: 5px;}

.get-gf-btn{background: #ff3636;color: #fff;}

.delete-gf-btn{margin-top: 8px;padding: 2px;color: #f50000; font-weight: bold;border: 1px solid #f50000;}
.add-gf-btn{background: #25bc25;color: #fff;}

.full-width{width: 50px;height: 50px;position: absolute;z-index: 2;top: 0px;left: 0px;background: cornflowerblue;color: #fff;font-size: 22px;text-align: center;}
.full-width::after{content: ' ++';font-size: 25px;}
.act::after{content: ' --';font-size: 25px;}


.static-content{height: 100vh;overflow: auto;}

.edit-active{border: 1px solid blue;}

footer{margin-top: 1px;background: #444;padding: 20px 10px;color: #fff;text-align: center;text-transform: capitalize;font-size: 17px;font-weight: 600;}